.jumbotron {
  padding-top: 10rem;
  background-color: #8024d6;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

#about {
  margin-top: -1px;
  background-color: white;
}
#projects {
  margin-top: -1px;
  background-color: #8024d6;
  color: aliceblue;
}

.card {
  color: black;
}

#contact {
  margin-top: -1px;
  background-color: white;
}

.footer {
  margin-top: -1px;
  background-color: #8024d6;
  color: aliceblue;
}

.type {
  background-color: #8024d6;
  color: aliceblue;
}

section {
  padding-top: 4rem;
}
